body {
    background-color: #9E8B73;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9E8B73;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 70px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
}

header nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.bg-custom {
    background-color: #9E8B73;
}

.contact-section {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: url('images/contact-background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 700px; /* Increased height for a bigger image */
}

.contact-info {
    background: rgba(158, 139, 115, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.contact-info h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contact-info a {
    color: #FFFFFF;
    text-decoration: underline;
}
